.hero{
    margin: 0;
    height: auto;
    width: 100%;
    background: #fff;
}
.hero-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
}
.hero-heading{
    width: 100%;
    margin-top: 3rem;
    color: white;
}
.main-heading{
    font-size: 4rem;
    margin-bottom: 0;
    color:white;
    margin-right: 6rem;
    margin-left: 2rem;
}
.sub-heading{
    font-size: 1rem;
    margin-right: 10rem;
    margin-bottom: 2.5rem;
    color: rgb(228, 175, 52);
    margin-left: 3.5rem;
}
.action-btn{
    background-color: #FFC727;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.action-btn-two{
    background-color: var(rgb(248, 79, 1));
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.hero-menu-img{
    object-position: center;
    object-fit: contain;
    justify-items: center;
    animation-name: rotateImage; /* Name of the animation */
    animation-duration: 60s; /* Duration of the animation */
    animation-iteration-count: infinite; /* Make the animation loop infinitely */
    animation-timing-function: linear; /* Linear timing function for smooth rotation */
}

/* Keyframes for the rotating animation */
@keyframes rotateImage {
    from {
        transform: rotate(0deg); /* Start from 0 degrees rotation */
    }
    to {
        transform: rotate(360deg); /* End at 360 degrees rotation (one full rotation) */
    }
}
/* End Hero Section */